<template>
  <nav>
    <router-link to="/">მთავარი</router-link> |
    <router-link to="/about">ჩვენ შესახებ</router-link>
    | <router-link to="/contact">კონტაქტი {{ lang }}</router-link>
  </nav>
  <router-view />
</template>

<script>
import { mapGetters } from "vuex";

export default {
  computed: {
    ...mapGetters({
      lang: "getLang",
    }),
  },

  watch: {
    lang(val) {
      localStorage.setItem("currentLang", val);
    },
  },

  mounted() {
    localStorage.setItem("currentLang", this.lang);
  },
};
</script>

<style lang="scss">
#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
}

nav {
  padding: 30px;

  a {
    font-weight: bold;
    color: #2c3e50;

    &.router-link-exact-active {
      color: #42b983;
    }
  }
}
</style>
